<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>vx12 Application</title>
        <link href="http://netdna.bootstrapcdn.com//font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" rel="Stylesheet" href="jqueryui/css/redmond/jquery-ui-1.8.17.custom.css" />
        <link type="text/css" rel="Stylesheet" href="jqueryui/css/default.css" />
        <link type="text/css" rel="Stylesheet" href="2/custom.css" id="app" />
        

        <script type= "text/javascript" src="jqueryui/js/robotHead.js"></script>
        <script type= "text/javascript" src="jqueryui/js/robotBase.js"></script>
        <script type= "text/javascript" src="jqueryui/js/robotBody.js"></script>
        <script type= "text/javascript" src="jqueryui/js/robotHand.js"></script>

        <script type= "text/javascript" src="jqueryui/js/lampMenu.js"></script>

        <script type= "text/javascript" src="jqueryui/js/lamp2Menu.js"></script>



        <script type="text/javascript" src="jqueryui/js/jquery-1.7.1.min.js" ></script>
        <script type="text/javascript" src="jqueryui/js/jquery-ui-1.8.17.custom.min.js"></script>
        <script type="text/javascript" src="jqueryui/js/processing-1.3.6.js" ></script> 
        <!-- Load Facebook SDK -->
        <script type="text/javascript" src='jqueryui/js/facebook.js'></script>
        <script type="text/javascript" src="jqueryui/js/draw_functions.js" ></script>
        <script type="text/javascript" src="jqueryui/js/database.js" ></script>
        <script type="text/javascript" src="jqueryui/js/key_mouse.js" ></script>
        <script type="text/javascript" src="jqueryui/js/base64.js" ></script>

        <script src="jqueryui/js/prefixfree.min.js"></script>
        <link type="text/css" rel="Stylesheet" href="jqueryui/css/login.css" />
        
        <!-- User Interface -->

        <link type="text/css" rel="stylesheet" href="jqueryui/css/ui.css" />


        <script src="jqueryui/js/three.min.js"></script>
        <script src="jqueryui/js/Three.js"></script>
        <script src="jqueryui/js/Detector.js"></script>
        <script src="jqueryui/js/stats.js"></script>
        <script src="jqueryui/js/OrbitControls.js"></script>
        <script src="jqueryui/js/THREEx.KeyboardState.js"></script>
        <script src="jqueryui/js/THREEx.FullScreen.js"></script>
        <script src="jqueryui/js/THREEx.WindowResize.js"></script>
        
        <script src="jqueryui/js/ParticleEngine.js"></script>
        <script src="jqueryui/js/ParticleEngineExamples.js"></script>

        <!-- GUI for experimenting with values -->      
        <script type='text/javascript' src='jqueryui/js/DAT.GUI.min.js'></script>

        <!-- jQuery code to display an information button and box when clicked. -->
        <script src="jqueryui/js/jquery-1.9.1.js"></script>
        <script src="jqueryui/js/jquery-ui.js"></script>
        <link rel=stylesheet href="jqueryui/css/jquery-ui.css" />
        
        <link type="text/css" rel="stylesheet" href="jqueryui/minicolors/jquery.miniColors.css" />
        <script type="text/javascript" src="jqueryui/minicolors/jquery.miniColors.min.js"></script>
        <script type="text/javascript" src="scripttest.js"></script>

        <!-- Sound Effects -->
        <script type="text/javascript" src="jqueryui/js/buzz.min.js"></script>
        <script type="text/javascript" src="jqueryui/js/sounds.js"></script>

        <!-- Dragging Connections -->
        <script type="text/javascript" src="jqueryui/js/jquery.jsPlumb.js"></script>
        <script type="text/javascript" src="jqueryui/js/connections.js"></script>


        <script language='javascript'>
         // var ws_server = "ws://localhost:7070%(id)s";
          //var ws_server = "ws://localhost:7070";
          var ws_server = new Array();
          var host = "ws://localhost:7070";
          ws_server[0] = "ws://192.168.54.15:7070";
          establishDBConnection(host, queryHandler);
            var ws_video = new WebSocket("ws://localhost:7070/video");
            $(document).ready(function() {
                $('.login').hide().fadeIn(3000);
                $('#welcome-message').hide();
                loadSounds();
                var image = document.getElementById('image');
                var imagesrc =  "";
                ws_video.onmessage = function (e) {
                 if(imagesrc != "") {
                    window.URL.revokeObjectURL(imagesrc);
                 }
                  image.src = window.URL.createObjectURL(e.data);
                  imagesrc = image.src;

                };
            });

            function queryHandler(){
                requestAppHandler('robot_1');
                requestAppHandler('lamp_1');
                requestAppHandler('lamp_2');
            }

            function unblur()
            {
                ws_video.send('logged in');
            }   
            // standard global variables for Three.js setup
            var container, scene, camera, renderer, controls, stats;
            var keyboard = new THREEx.KeyboardState();
            var clock = new THREE.Clock();
        </script>
        
        <script language='javascript'>
            // Initial FB SDK
            window.fbAsyncInit = function() {
            FB.init({
              appId      : '287835298059518',
              cookie     : true,  // enable cookies to allow the server to access 
                                  // the session
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.0' // use version 2.0
            });

            // Now that we've initialized the JavaScript SDK, we call 
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function(response) {
              stage = 'onload'
              statusChangeCallback(response, stage);
            });

            };

            // Load the SDK asynchronously
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>

        
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
        </style>
   
        
    </head>
    <body style='background-color: white; '>
        <div id="jsPlumbContainer" style="position:relative;">
        <div id="fb-root"></div>
        <div align = "center" class="ui-widget-content" style="border: transparent; padding:0px; margin:0px; height:720px; width:1280px; background:transparent; z-index: 0;" >
            <canvas id="root" style="border: solid 0px #000000; position: absolute;"></canvas>
            <img id="image"  style="position:absolute; top:50px; left:50px; z-index: 0; width: 100%;" src="images/videoscreenshot.jpg"/>
        </div>
        
        <!-- Welcome Message -->

        <div id = 'welcome-message'><p id="welcome-text">Welcome, </p></div>

        <!-- Login portion starts -->
        <div class="body"></div>
        <div class="header">
        </div>
        <br>
        <div class="login">
                <input id ='system-login-username' type="text" placeholder="username" name="user"><br>
                <input type="password" placeholder="password" name="password"><br>
                <input id="system-default-login-btn" type="button" value="Login" onclick = 'loadInterface()'>
                <input id="system-fb-login-btn" type="button" value="Login with Facebook" onclick = "loginWithFacebook()">
        </div>

        <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

        <!-- Login portion ends -->


        <!-- Slanted div with information -->

      <section id="blue" class="container"> 
            <div class = "box"> <br>
            <div id = 'mainMenu'> Smart devices 
                <i class="fa fa-lightbulb-o fa-2x" ></i> Lamp1<br> <br>
            </div>
            <i id ='rotation1' class="fa fa-cog fa-spin fa-2x"></i> Robotic Arm<br> <br>
            <i id = 'light1' class="fa fa-lightbulb-o fa-2x"></i>  Lamp2<br> <br>
            
            </div>
         </section> 

        <!--  Robot Arm starts-->
        
        <!-- Div for Base -->
        <div id = 'outerBase'></div>

        <div id ='Base'></div>

        <div id = 'menuBase' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  
            &nbsp;
            <div id = 'speedBase' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br><br>
            </div> 
            <div id = 'bwBase' style = "float:left;"> 
                <i class="fa fa-long-arrow-left fa-3x" ></i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
            
            <div id = 'fwBase' > 
                <i class="fa fa-long-arrow-right fa-3x"></i>
             </div> 
            
        </div>

        <!-- Div for Body -->
        <div id = 'outerBody'></div>

        <div id ='Body'></div>

        <div id = 'menuBody' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  <br>
            <div id = 'speedBody' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br><br>
            </div> 
            <div id = 'bwBody' style = "float: left;"> 
                <i class="fa fa-long-arrow-left fa-3x" ></i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
            
            <div id = 'fwBody' > 
                <i class="fa fa-long-arrow-right fa-3x"></i>
             </div> 
            
        </div>



        <!-- Div for the head -->
        <div id = 'outerHead'></div>

        <div id ='lampHead'></div>

        <div id = 'menuHead' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  <br>
            
            
            <div id = 'speedHead' style = "float:left;"> 
                <i class = "fa fa-cog fa-spin fa-2x" ></i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div> 
            <div id = 'camera1' >
                <i class="fa fa-lightbulb-o fa-3x" ></i> <br><br>
            </div>
            <div id = 'bwHead'  style = "float:left;"> 
                <i class="fa fa-long-arrow-left fa-3x" ></i> &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; 
            </div>
            
            <div id = 'fwHead' > 
                <i class="fa fa-long-arrow-right fa-3x"></i>
             </div> 
            
        </div>

        <!-- Div for hand -->

        <div id = 'outerHand'></div>

        <div id ='Hand'></div>

        <div id = 'menuHand' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  

            <div id = 'speedHand' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br> <br><br>
            </div> 
            
            <div id = 'bwHand' style = "float: left;"> 
                <i class="fa fa-long-arrow-up fa-5x" ></i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
            </div>
            
            <div id = 'fwHand' > 
                <i class="fa fa-long-arrow-down fa-5x"></i>
             </div> 
            
        </div>




        <!-- Lamp1 -->


    <div id = 'outerLamp1'></div>

        <div id ='Lamp1'></div>

        <div id = 'menuLamp1' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  <br>
            <div id = 'switch'>
                <i class="fa fa-stop fa-2x" ></i> On/Off<br> <br>
            </div>
            <div id = "pallet1">
                <i class="fa fa-sliders fa-2x"></i> Color Pallet<br> <br>
            </div>
            <div id = "connect1">
                <i id = 'light1' class="fa fa-recycle fa-2x"></i> Connect devices<br> <br>
            </div>
        </div>



 <!-- Lamp2 -->


    <div id = 'outerLamp2'></div>

        <div id ='Lamp2'></div>

        <div id = 'menuLamp2' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  <br>
            <div id = 'switch2'>
                <i class="fa fa-stop fa-2x" ></i> On/Off<br> <br>
            </div>
            <div id = "pallet2">
                <i class="fa fa-sliders fa-2x"></i> Color Pallet<br> <br>
            </div>
            <div id = "connect2">
                <i id = 'light2' class="fa fa-recycle fa-2x"></i> Connect devices<br> <br>
            </div>
        </div>




        <!-- Color Pallet for Lamp2 -->

        <i id = "tablet2" class = "fa fa-tablet" style = "color: white; font-size: 17em; position: absolute; top: 200px; left: 280px; z-index:5; opacity: 0.3; visibility: hidden;" >
            </i>
        <div id = "colorDiv2" style = "position: absolute; top: 233px; left: 300px; z-index:5; background:transparent;" >
                
            <canvas id="colorCanvas2" style = 'opacity: 0.2;' ></canvas>



       <!-- Color Pallete portion starts -->            

        <!-- <div class="container2">
        <div class="row">
        <div class="span12">
          <div class="offset1"> -->
            <!--div class="row" style = "position: absolute; top: 36%; left: 11%;"-->
            <i id = "tablet" class = "fa fa-tablet" style = "color: white; font-size: 17em; position: absolute; top: 300px; left: 60px; z-index:5; opacity: 0.3; visibility: hidden;" >
            </i>
            <div id = "colorDiv" style = "position: absolute; top: 333px; left: 80px; z-index:5; background:transparent;" >
                
                <canvas id="colorCanvas" style = 'opacity: 0.2;' ></canvas>
                
            </div>
            <!-- </div>  -->
              <!-- </div>
            </div> -->
           
 
            <!--/div-->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
            <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
            <script src="colorlib/color-scheme.min.js"></script>
           
            <!--Color portion ends -->
    </div>
    </body>
</html>


