<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>vx12 Application</title>
        <link href="http://netdna.bootstrapcdn.com//font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" rel="Stylesheet" href="jqueryui/css/redmond/jquery-ui-1.8.17.custom.css" />
        <link type="text/css" rel="Stylesheet" href="jqueryui/css/default.css" />
        <link type="text/css" rel="Stylesheet" href="2/custom.css" id="app" />
        

        <script type= "text/javascript" src="jqueryui/js/robotHead.js"></script>
        <script type= "text/javascript" src="jqueryui/js/robotBase.js"></script>
        <script type= "text/javascript" src="jqueryui/js/robotBody.js"></script>
        <script type= "text/javascript" src="jqueryui/js/robotHand.js"></script>

        <script type= "text/javascript" src="jqueryui/js/lampMenu.js"></script>


        <script type="text/javascript" src="jqueryui/js/jquery-1.7.1.min.js" ></script>
        <script type="text/javascript" src="jqueryui/js/jquery-ui-1.8.17.custom.min.js"></script>
        <script type="text/javascript" src="jqueryui/js/processing-1.3.6.js" ></script> 
        <!-- Load Facebook SDK -->
        <script type="text/javascript" src='jqueryui/js/facebook.js'></script>
        <script type="text/javascript" src="jqueryui/js/draw_functions.js" ></script>
        <script type="text/javascript" src="jqueryui/js/key_mouse.js" ></script>
        <script type="text/javascript" src="jqueryui/js/base64.js" ></script>

        <script src="jqueryui/js/prefixfree.min.js"></script>
        <link type="text/css" rel="Stylesheet" href="jqueryui/css/login.css" />
        



        <script src="jqueryui/js/three.min.js"></script>
		<script src="jqueryui/js/Three.js"></script>
		<script src="jqueryui/js/Detector.js"></script>
		<script src="jqueryui/js/stats.js"></script>
		<script src="jqueryui/js/OrbitControls.js"></script>
		<script src="jqueryui/js/THREEx.KeyboardState.js"></script>
		<script src="jqueryui/js/THREEx.FullScreen.js"></script>
		<script src="jqueryui/js/THREEx.WindowResize.js"></script>
        
        <script src="jqueryui/js/ParticleEngine.js"></script>
        <script src="jqueryui/js/ParticleEngineExamples.js"></script>

        <!-- GUI for experimenting with values -->      
        <script type='text/javascript' src='jqueryui/js/DAT.GUI.min.js'></script>

        <!-- jQuery code to display an information button and box when clicked. -->
        <script src="jqueryui/js/jquery-1.9.1.js"></script>
        <script src="jqueryui/js/jquery-ui.js"></script>
        <link rel=stylesheet href="jqueryui/css/jquery-ui.css" />
        
        <link type="text/css" rel="stylesheet" href="jqueryui/minicolors/jquery.miniColors.css" />
        <script type="text/javascript" src="jqueryui/minicolors/jquery.miniColors.min.js"></script>
        <script type="text/javascript" src="scripttest.js"></script>

        <!-- Sound Effects -->
        <script type="text/javascript" src="jqueryui/js/buzz.min.js"></script>
        <script type="text/javascript" src="jqueryui/js/sounds.js"></script>

        <!-- Dragging Connections -->
        <script type="text/javascript" src="jqueryui/js/jquery.jsPlumb.js"></script>
        <script type="text/javascript" src="jqueryui/js/connections.js"></script>


        <script language='javascript'>
         // var ws_server = "ws://localhost:7070%(id)s";
          //var ws_server = "ws://localhost:7070";
          var lightsConnected = false;
          var ws_server = new Array();
          ws_server[0] = "ws://192.168.54.15:7070";
            var ws_video = new WebSocket("ws://localhost:7070/video");
            $(document).ready(function() {
                $('.login').hide().fadeIn(3000);
                $('#welcome-message').hide();
                loadSounds();
                var image = document.getElementById('image');
                var imagesrc =  "";
                ws_video.onmessage = function (e) {
                 if(imagesrc != "") {
                    window.URL.revokeObjectURL(imagesrc);
                 }
                  image.src = window.URL.createObjectURL(e.data);
                  imagesrc = image.src;

                };
            });



            function unblur()
            {
                ws_video.send('logged in');
            }   
            // standard global variables for Three.js setup
            var container, scene, camera, renderer, controls, stats;
            var keyboard = new THREEx.KeyboardState();
            var clock = new THREE.Clock();
        </script>
        
        <script language='javascript'>
            // Initial FB SDK
            window.fbAsyncInit = function() {
            FB.init({
              appId      : '287835298059518',
              cookie     : true,  // enable cookies to allow the server to access 
                                  // the session
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.0' // use version 2.0
            });

            // Now that we've initialized the JavaScript SDK, we call 
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function(response) {
              stage = 'onload'
              statusChangeCallback(response, stage);
            });

            };

            // Load the SDK asynchronously
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>

        <style>
        /************CSS starts here********************************/   

            body {margin: 4px;
                }


            /*****The slanted div with all info *************/

            .container {
              width: 200px;
              height: 200px;
              top: 15%;
              left: 50%;
              /*border: 1px solid #CCC;*/
              margin: 0 auto 40px;
              position: absolute;
              z-index: 2;
        
            }

            .box {
              width: 250px;
              height: 200px;
            }


            #blue {
              -webkit-perspective: 600px;
                 -moz-perspective: 600px;
                   -o-perspective: 600px;
                      perspective: 600px;
            }

            #blue .box {
           
              z-index: 2;
              background-color: rgba(240, 177, 82, 0.2);
              -webkit-transform: rotateY( -25deg );
                 -moz-transform: rotateY( -25deg );
                   -o-transform: rotateY( -25deg );
                      transform: rotateY( -25deg );
            }


            /***********CSS for lamp1*******************/

            #menuLamp1{
                display: none;
            }

            #Lamp1{
                position: absolute;
                height: 200px;
                width: 250px;
                top: 38%;
                left: 13%;
                z-index: 1;
                cursor: pointer;
                background-color: blue;
                opacity: 0.1;
            }
        
            #outerLamp1{
                position: absolute;
                height: 320px;
                width: 375px;
                top: 34%;
                left: 11%;
                z-index: 1;
                cursor: pointer;
                background-color: green;
                opacity: 0.1;
            }

            /***********CSS for lamp2*******************/

            #menuLamp2{
                display: none;
            }

            #Lamp2{
                position: absolute;
                height: 200px;
                width: 250px;
                top: 80%;
                left: 80%;
                z-index: 1;
                cursor: pointer;
                background-color: blue;
                opacity: 0.1;
            }
        
            #outerLamp2{
                position: absolute;
                height: 320px;
                width: 375px;
                top: 76%;
                left: 78%;
                z-index: 1;
                cursor: pointer;
                background-color: green;
                opacity: 0.1;
            }

            /***********CSS for the robotic arm*************/


            /********Base*************/

            #menuBase{
                display: none;
            }


            #Base{
                position: absolute;
                height: 175px;
                width: 125px;
                top: 72%;
                left: 37%;
                z-index: 1;
                cursor: pointer;
                background-color: yellow;
                opacity: 0.1;
            }

            #outerBase{
                position: absolute;
                height: 225px;
                width: 175px;
                top: 70%;
                left: 35%;
                z-index: 1;
                cursor: pointer;
                background-color: white;
                opacity: 0.1;
            }

           

            /*********Body*****************/

            #menuBody{
                display: none;
            }


            #Body{
                position: absolute;
                 height: 175px;
                width: 125px;
                top: 72%;
                left: 60%;
                z-index: 1;
                cursor: pointer;
                background-color: red;
                opacity: 0.1;
            }

            #outerBody{
                position: absolute;
                height: 225px;
                width: 175px;
                top: 70%;
                left: 59%;
                z-index: 1;
                cursor: pointer;
                background-color: blue;
                opacity: 0.1;
            }



            /***********Head**************************/

            #menuHead{
                display: none;
            }


            #lampHead{
                position: absolute;
                height: 175px;
                width: 125px;
                top: 38%;
                left: 48%;
                z-index: 1;
                cursor: pointer;
                background-color: green;
                opacity: 0.1;
            }

            #outerHead{
                position: absolute;
                height: 225px;
                width: 175px;
                top: 36%;
                left: 46%;
                z-index: 1;
                background-color: blue;
                opacity: 0.1;
                cursor: pointer;
            }


            
            /***********Hand******************/

             #menuHand{
                display: none;
            }


            #Hand{
                position: absolute;
                 height: 175px;
                width: 125px;
                top: 34%;
                left: 66%;
                z-index: 1;
                cursor: pointer;
                background-color: purple;
                opacity: 0.1;
            }

            #outerHand{
                position: absolute;
                height: 225px;
                width: 175px;
                top: 32%;
                left: 64%;
                z-index: 1;
                cursor: pointer;
                background-color: maroon;
                opacity: 0.1;
            }

            /******Robotic Arm css ends*******************/

            .color {
            height: 50px;
            width: 50px;
            float: left;
            margin: 5px;
            border: 1px solid #ccc;
            }
            #hue-box {
                margin-left: 20px;
                margin-top: 19px;
            }   
            .bordered {
                border-top: 1px solid #ccc;
            }
    
            #hex-box {
                background-color: #fff;
                position: relative;
                top: -15px;
                left: -60px;
            }
        </style>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
        </style>
   
        
    </head>
    <body style='background-color: black; '>
        <div id="fb-root"></div>
        <div align = "center" class="ui-widget-content" style="border: transparent; padding:0px; margin:0px; height:720px; width:1280px; background:transparent; z-index: 0;" >
            <canvas id="root" style="border: solid 0px #000000; position: absolute;"></canvas>
            <img id="image"  style="position:absolute; top:50px; left:50px; z-index: 0; width: 100%;" src="images/videoscreenshot.jpg"/>
        </div>
        
        <!-- Welcome Message -->

        <div id = 'welcome-message'><p id="welcome-text">Welcome, </p></div>

        <!-- Login portion starts -->
        <div class="body"></div>
        <div class="header">
        </div>
        <br>
        <div class="login">
                <input id ='system-login-username' type="text" placeholder="username" name="user"><br>
                <input type="password" placeholder="password" name="password"><br>
                <input id="system-default-login-btn" type="button" value="Login" onclick = 'loadInterface()'>
                <input id="system-fb-login-btn" type="button" value="Login with Facebook" onclick = "loginWithFacebook()">
        </div>

        <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

        <!-- Login portion ends -->


        <!-- Slanted div with information -->

        <!-- <section id="blue" class="container"> -->
            <div class = "dropdown-menu" aria-labelledby = "dropdownMenu"> <br>
            <div id = 'mainMenu'>
                <i class="fa fa-lightbulb-o fa-2x" ></i> Lamp1<br> <br>
            </div>
            <i id ='rotation1' class="fa fa-cog fa-spin fa-2x"></i> Robotic Arm<br> <br>
            <i id = 'light1' class="fa fa-lightbulb-o fa-2x"></i>  Lamp2<br> <br>
            
            </div>
        <!-- </section> -->

        <!--  Robot Arm starts-->
        
        <!-- Div for Base -->
        <div id = 'outerBase'></div>

        <div id ='Base'></div>

        <div id = 'menuBase'>  <br>
            
            <div id = 'speedBase' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br>
            </div> 
            
            <div id = 'bwBase' > 
                <i class="fa fa-long-arrow-left fa-2x" ></i> <br>  
            </div>
            
            <div id = 'fwBase' > 
                <i class="fa fa-long-arrow-right fa-2x"></i>
             </div> 
            
        </div>

        <!-- Div for Body -->
        <div id = 'outerBody'></div>

        <div id ='Body'></div>

        <div id = 'menuBody'>  <br>
            
            <div id = 'speedBody' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br>
            </div> 
            
            <div id = 'bwBody'> 
                <i class="fa fa-long-arrow-left fa-2x" ></i> <br> 
            </div>
            
            <div id = 'fwBody' > 
                <i class="fa fa-long-arrow-right fa-2x"></i>
             </div> 
            
        </div>



        <!-- Div for the head -->
        <div id = 'outerHead'></div>

        <div id ='lampHead'></div>

        <div id = 'menuHead'>  <br>
            
            <div id = 'camera1' style = "float:left;">
                <i class="fa fa-lightbulb-o fa-2x" ></i> &nbsp; &nbsp;
            </div>
            <div id = 'speedHead' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br><br>
            </div> 
            
            <div id = 'bwHead'  style = "float:left;"> 
                <i class="fa fa-long-arrow-left fa-2x" ></i> &nbsp; &nbsp; 
            </div>
            
            <div id = 'fwHead' > 
                <i class="fa fa-long-arrow-right fa-2x"></i>
             </div> 
            
        </div>

        <!-- Div for hand -->

        <div id = 'outerHand'></div>

        <div id ='Hand'></div>

        <div id = 'menuHand'>  <br>

            <div id = 'speedHand' > 
                <i class = "fa fa-cog fa-spin fa-2x"></i><br>
            </div> 
            
            <div id = 'bwHand' > 
                <i class="fa fa-long-arrow-left fa-2x" ></i> <br>
            </div>
            
            <div id = 'fwHand' > 
                <i class="fa fa-long-arrow-right fa-2x"></i>
             </div> 
            
        </div>




        <!-- Lamp1 -->


    <div id = 'outerLamp1'></div>

        <div id ='Lamp1'></div>

        <div id = 'menuLamp1' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  <br>
            <div id = 'switch'>
                <i class="fa fa-stop fa-2x" ></i> On/Off<br> <br>
            </div>
            <div id = "pallet1">
                <i class="fa fa-sliders fa-2x"></i> Color Pallet<br> <br>
            </div>
            <div id = "connect1">
                <i id = 'light1' class="fa fa-recycle fa-2x"></i> <span id="connect1_text">Connect devices</span><br> <br>
            </div>
        </div>


        <!-- Lamp2 -->


    <div id = 'outerLamp2'></div>

        <div id ='Lamp2'></div>

        <div id = 'menuLamp2' class = "dropdown-menu" aria-labelledby = "dropdownMenu">  <br>
            <div id = 'switch'>
                <i class="fa fa-stop fa-2x" ></i> On/Off<br> <br>
            </div>
            <div id = "pallet2">
                <i class="fa fa-sliders fa-2x"></i> Color Pallet<br> <br>
            </div>
            <div id = "connect2">
                <i id = 'light2' class="fa fa-recycle fa-2x"></i> <span id="connect2_text">Connect devices</span><br> <br>
            </div>
        </div>


       <!-- Color Pallete portion starts -->            

        <!-- <div class="container2">
        <div class="row">
        <div class="span12">
          <div class="offset1"> -->
            <!--div class="row" style = "position: absolute; top: 36%; left: 11%;"-->
            <i class = "fa fa-tablet" style = "color: white; font-size: 17em; position: absolute; top: 300px; left: 60px; z-index:5; opacity: 0.3;" >
            </i>
            <div id = "colorDiv" style = "position: absolute; top: 333px; left: 80px; z-index:5; background:transparent;" >
                
                <canvas id="colorCanvas" style = 'opacity: 0.2;' ></canvas>
                
            </div>
            <!-- </div>  -->
              <!-- </div>
            </div> -->
           
 
            <!--/div-->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
            <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
            <script src="colorlib/color-scheme.min.js"></script>
           
            <!--Color portion ends -->
    </body>
</html>


